.app-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #161b22;
    margin-bottom: 10px;
    top:0px;
    
}
.header-title{
    width:30%;
    display: inline-block;
    vertical-align: middle;
    
}

.search-bar {
    width: 70%;
    display: inline-block;
}
.search-input {
    width: 70%;
    height: 33px;
    padding: 0.5em;
    vertical-align: middle;
    border-radius: 0.30em;
    border-color: #21262d;
    border-width: 1px;
    background-color: #0d1117;
}
.search-img {
    padding: 0em;
    width: 45px;
    height: 100%;
    vertical-align: middle;
    border-radius: 0.30em;
    border-color: #21262d;
    border-width: 1px;
    background-color: #0d1117;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
}
.search-img > img {
    height: 100%;
    width: 100%;
}

#main {
    margin-top: 100px;
    margin-left: -8px;
}

.header-title > h1 > a{
    color: inherit;
    
}
